* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-4 {
    width: 33.33%;
}

.products {
    margin-top: 10px;
}

.product-details {
    padding: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.product-img img {
    height: 310px;
}