* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1320px;
}

img {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.product-details {
    width: 300px;
}